/*---------------------- Menu ---------------------*/
.navbar-nav .dropdown-menu{
  margin-left: -60px !important;
}

@media (max-width: 1250px) {
  .navbar-nav .dropdown-menu{
    margin-left: 0px !important;
  }
}

/*---------------------- Preloader ---------------------*/
.bounce-animate {
  animation-name: float-bob;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear
}

@-webkit-keyframes float-bob {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px)
  }
}

.heartbeat {
  animation: heartbeat 1s infinite alternate
}

@-webkit-keyframes heartbeat {
  to {
    -webkit-transform: scale(1.03);
    transform: scale(1.03)
  }
}

.rotateme {
  -webkit-animation-name: rotateme;
  animation-name: rotateme;
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear
}

@keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes rotateme {
  from {
    -webkit-transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg)
  }
}

.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  margin: 0 auto
}

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-top-color: #0f61ef;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #fff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s
}

.preloader .preloader-circle2 {
  border-top-color: #0078ff
}

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s
}

.preloader .preloader-img img {
  max-width: 55px
}

.preloader .pere-text strong {
  font-weight: 800;
  color: #dca73a;
  text-transform: uppercase
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s
  }
}

/*--------------------- Login ------------------*/
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: url('https://wallpapercave.com/wp/wp2386748.jpg');
  background-size: cover;
  background-position: center;
}



/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}


/*--------------------- Inicio ------------------*/
.carousel,.item,.active{height:620px;}
.carousel-inner{height:620px;}
@media (max-width: 575px) {
  .about-area .about-caption {
      margin-bottom: 35px
  }
}

.about-area .about-caption p {
  font-size: 16px;
  color: #64676c;
  line-height: 1.6;
  margin-bottom: 35px;
  padding-right: 50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-area .about-caption p {
      padding-right: 20px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-area .about-caption p {
      padding-right: 0px
  }
}

@media (max-width: 575px) {
  .about-area .about-caption p {
      padding-right: 0px
  }
}

.about-area .about-caption ul {
  margin-bottom: 75px
}

@media (max-width: 575px) {
  .about-area .about-caption ul {
      margin-bottom: 50px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-area .about-caption ul {
      margin-bottom: 50px
  }
}

.about-area .about-caption ul li {
  color: #000;
  font-size: 16px
}

.about-area .about-caption ul li span {
  color: #2d3092;
  font-size: 30px;
  position: relative;
  top: 4px;
  margin-right: 14px
}

.about-area .about-img {
  position: relative
}

.about-area .about-img .about-font-img {
  position: absolute;
  z-index: 0;
  left: 0
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-area .about-img .about-font-img img {
      width: 106%
  }
}

@media (max-width: 575px) {
  .about-area .about-img .about-font-img img {
      width: 100%
  }
}

.about-area .about-img .about-back-img {
  position: absolute;
  top: 60px;
  right: -180px;
  z-index: 1
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .about-area .about-img .about-back-img {
      right: -10px
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about-area .about-img .about-back-img {
      right: -19px
  }
}

.about-area .about-img .about-back-img img {
  border: 10px solid #f2f2f2
}

@media (max-width: 575px) {
  .about-area .about-img .about-back-img img {
      width: 90%
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about-area .about-img .about-back-img {
      position: unset
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about-area .about-img .about-back-img {
      position: unset
  }
}

@media (max-width: 575px) {
  .about-area .about-img .about-back-img {
      position: unset
  }
}

@media (max-width: 575px) {
  .about-caption {
      margin-bottom: 35px
  }
}
.section-padding2 {
  padding-top: 200px;
  padding-bottom: 200px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .section-padding2 {
      padding-top: 200px;
      padding-bottom: 200px
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section-padding2 {
      padding-top: 200px;
      padding-bottom: 200px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-padding2 {
      padding-top: 100px;
      padding-bottom: 100px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-padding2 {
      padding-top: 70px;
      padding-bottom: 70px
  }
}

@media (max-width: 575px) {
  .section-padding2 {
      padding-top: 70px;
      padding-bottom: 70px
  }
}
@media (max-width: 575px) {
  .section-tittle {
      margin-bottom: 50px;
      text-align: left !important
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-tittle {
      margin-bottom: 50px
  }
}

.section-tittle span {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 22px;
  color: #396cf0;
  text-transform: uppercase;
  display: inline-block;
  position: relative
}

@media (max-width: 575px) {
  .section-tittle span {
      font-size: 14px;
      padding-left: 60px
  }
}

.section-tittle span::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: #396cf0;
  top: 0;
  left: -67px;
  top: 50%;
  transform: translateY(-50%)
}

@media (max-width: 575px) {
  .section-tittle span::before {
      left: 0px
  }
}

.section-tittle h2 {
  font-size: 50px;
  display: block;
  color: #030431;
  font-weight: 800
}

.letra{
  font-size: 20px !important;
  text-decoration: none;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-tittle h2 {
      font-size: 31px;
      text-align: center
  }
}

@media (max-width: 575px) {
  .section-tittle h2 {
      text-align: left;
      font-size: 27px
  }
}

.section-tittle2 span {
  margin-left: 72px
}

@media (max-width: 575px) {
  .section-tittle2 span {
      margin-left: 0
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .section-tittle2 h2 {
      text-align: left
  }
}

@media (max-width: 575px) {
  .section-tittle2 h2 {
      text-align: left;
      font-size: 27px
  }
}

.all-starups-area {
  display: flex;
  align-items: center
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-starups-area {
      display: block
  }
}

@media (max-width: 575px) {
  .all-starups-area {
      display: block
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .all-starups-area {
      display: block
  }
}

.all-starups-area .starups {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 0 9%;
  background-image: url(../img/gallery/section_bg01.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  height: 700px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .all-starups-area .starups {
      padding-right: 35px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .all-starups-area .starups {
      padding: 0 30px
  }
}

@media (max-width: 575px) {
  .all-starups-area .starups {
      padding: 0 30px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-starups-area .starups {
      width: 100%;
      height: 500px
  }
}

@media (max-width: 575px) {
  .all-starups-area .starups {
      width: 100%;
      height: 400px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .all-starups-area .starups {
      width: 100%;
      height: 400px
  }
}

.all-starups-area .starups .starups-details {
  padding-right: 117px
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .all-starups-area .starups .starups-details {
      padding-right: 0px
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .all-starups-area .starups .starups-details {
      padding-right: 30px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-starups-area .starups .starups-details {
      padding-right: 0px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .all-starups-area .starups .starups-details {
      padding-right: 0px;
      margin-top: 40px
  }
}

@media (max-width: 575px) {
  .all-starups-area .starups .starups-details {
      padding-right: 0px;
      margin-top: 40px
  }
}

.all-starups-area .starups .starups-details span {
  margin-bottom: 22px;
  display: block;
  color: #9fabbe
}

.all-starups-area .starups .starups-details h3 {
  font-size: 35px;
  display: block;
  color: #fff;
  font-weight: 700;
  margin-bottom: 53px
}

@media (max-width: 575px) {
  .all-starups-area .starups .starups-details h3 {
      font-size: 21px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .all-starups-area .starups .starups-details h3 {
      font-size: 28px
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .all-starups-area .starups .starups-details h3 {
      font-size: 28px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-starups-area .starups .starups-details h3 {
      font-size: 43px
  }
}

.all-starups-area .starups .starups-details p {
  color: #9fabbe
}

@media (max-width: 575px) {
  .all-starups-area .starups .starups-details p {
      font-size: 15px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-starups-area .starups .starups-details p {
      font-size: 13px
  }
}

.all-starups-area .starups .starups-details .starups-list ul {
  display: flex;
  margin-bottom: 18px
}

.all-starups-area .starups .starups-details .starups-list ul li svg {
  position: relative;
  top: 4px
}

.all-starups-area .starups .starups-details .starups-list ul li p {
  padding-left: 20px;
  color: #9fabbe
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .all-starups-area .starups .starups-details .starups-list ul li p {
      padding-left: 9px
  }
}

@media (max-width: 575px) {
  .all-starups-area .starups .starups-details .starups-list ul li p {
      padding-left: 9px
  }
}

.all-starups-area .starups-img {
  width: 50%;
  background-image: url(../img/gallery/startup.png);
  background-size: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  height: 700px
}

@media (max-width: 575px) {
  .all-starups-area .starups-img {
      width: 100%;
      height: 500px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .all-starups-area .starups-img {
      width: 100%;
      height: 500px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .all-starups-area .starups-img {
      width: 100%;
      height: 400px
  }
}
.testimonial-area .testimonial-caption .testimonial-top-cap img {
  margin-bottom: 50px;
  width: auto;
  display: inline-block
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap img {
      margin-bottom: 30px
  }
}

@media (max-width: 575px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap img {
      margin-bottom: 30px
  }
}

.testimonial-area .testimonial-caption .testimonial-top-cap p {
  line-height: 1.5;
  margin-bottom: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: 3000
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
      font-size: 20px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
      font-size: 20px;
      padding-right: 0px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
      font-size: 18px;
      padding-right: 0px;
      margin-bottom: 60px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
      font-size: 18px;
      padding-right: 0px;
      margin-bottom: 60px
  }
}

@media (max-width: 575px) {
  .testimonial-area .testimonial-caption .testimonial-top-cap p {
      font-size: 15px;
      padding-right: 0px;
      margin-bottom: 60px
  }
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text {
  margin-left: 20px
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
  color: #0f61ef;
  font-size: 20px;
  font-weight: 600;
  color: #fff
}

@media (max-width: 575px) {
  .testimonial-area .testimonial-caption .testimonial-founder .founder-text span {
      font-size: 17px
  }
}

.testimonial-area .testimonial-caption .testimonial-founder .founder-text p {
  color: #ddd;
  font-weight: 500;
  line-height: 1.5
}

.btn-start {
	background: #030431 !important;
	color: #fff !important;
	padding: 0.8rem;
	width: 100%;
	margin: 0 auto;
}

.btn-start:hover,
.btn-start:focus {
	color: #fff;
}

.btn-outline-start {
	background: #fff !important;
	border: 1px solid #fddbe4 !important;
	color: #030431 !important;
	padding: 0.8rem;
	width: 100%;
	margin: 0 auto;
}

.btn-outline-start:hover,
.btn-outline-start:focus {
	color: #030431;
}

section.pricing-plans {
	background: #fff;
	padding: 8rem 0;
}




.pricing-box {
	padding: 1rem;
	background: #fff;
	border: 1px solid #e1e8ee;
}

.pricing-box .card-title {
	font-size: 1rem;
	line-height: 2;
}

.pricing-box .currency {
	top: -1.50rem;
	font-size: 1.50rem;
	letter-spacing: 0.75rem;
	margin-right: -0.5rem;
}

.pricing-box .amount {
	font-size: 3.8rem;
}

.pricing-box .month {
	color: #a1a2ac;
	margin-left: -0.2rem;
}

.pricing-box .list-group {
	margin-bottom: 1rem;
}

.pricing-box .list-group-item {
	padding: 0.45rem 1rem;
	border: none;
}

.pricing-premium {
	position: relative;
	z-index: 1;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.09);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.09);
	box-shadow: 0 5px 10px rgba(0,0,0,.09);
}

@media (max-width: 768px) {
	.pricing-box {
		margin-bottom: 1rem;
	}
}


@media (min-width: 768px) {
	.pricing-premium {
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		transform: scale(1.05);
	}
}
/*--------------------------- Nosotros -----------------------------*/

.centro{
  align-self: center;
}
.img-center{
  margin-left: 100px;
}

/*--------------------------- Servicios -----------------------------*/
#sec {
  font-family: "Raleway", sans-serif;
  padding: 50px 0;
  background: #fff;
  text-align: center;
  word-wrap: break-word;
}
#sec h2 {
  font-weight: 200;
  font-size: 30px;
  color: #63B7E6;
}
#sec ul {
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}
#sec ul li {
  padding: 40px;
  width: 300px;
  transition: box-shadow 0.3s;
}
#sec ul li:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
#sec ul li:hover .iconoS {
  color: #63B7E6;
}
#sec ul li:hover p {
  color: #555;
}
#sec ul li:hover h3 {
  color: #63B7E6;
}
#sec ul li:hover h3:after {
  width: 25px;
}
#sec ul li .iconoS {
  font-size: 2.6em;
  display: block;
  transition: color 0.3s;
  color: #A2A2A2;
  margin-left: 85px;
}
#sec ul li .iconoS:before, #sec ul li .iconoS:after {
  position: static;
}
#sec ul li h3 {
  color: #6f6f6f;
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  transition: color 0.3s;
}
#sec ul li h3:after {
  content: "";
  position: relative;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  display: block;
  width: 40px;
  height: 1px;
  background: #6f6f6f;
  transition: width 0.3s;
}
#sec ul li p {
  color: #A2A2A2;
  text-align: left;
  text-indent: 1em;
  font-size: 16px;
  line-height: 26px;
  transition: color 0.3s;
}

/*--------------------------- Clinica -----------------------------*/
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 65px;
  left: 20px;
  margin: 12px;
  border-radius: 4px;
}
.map-container {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 400px;
  }
#cardClinica {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
#cardClinica .booking-card {
  position: relative;
  width: 300px;
  display: flex;
  flex: 0 0 300px;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 30px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
  text-align: center;
  color: #0a4870;
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/354/997/217/clinic-doctors-glass-hallway-wallpaper-preview.jpg');
  transition: 0.3s;
}
#cardClinica .booking-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(10, 72, 112, 0);
  transition: 0.3s;
}
#cardClinica .booking-card .book-container {
  height: 200px;
}
#cardClinica .booking-card .book-container .content {
  position: relative;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transform: translateY(-200px);
  transition: 0.3s;
}
#cardClinica .booking-card .book-container .content .btn {
  border: 3px solid white;
  padding: 10px 15px;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.3em;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
#cardClinica .booking-card .book-container .content .btn:hover {
  background: white;
  border: 0px solid white;
  color: #0a4870;
}
#cardClinica .booking-card .informations-container {
  flex: 1 0 auto;
  padding: 20px;
  background: #f0f0f0;
  transform: translateY(206px);
  transition: 0.3s;
}
#cardClinica .booking-card .informations-container .title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
#cardClinica .booking-card .informations-container .title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  width: 50px;
  margin: auto;
  background: #0a4870;
}
#cardClinica .booking-card .informations-container .price {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
#cardClinica .booking-card .informations-container .price .icon {
  margin-right: 10px;
}
#cardClinica .booking-card .informations-container .more-information {
  opacity: 0;
  transition: 0.3s;
}
#cardClinica .booking-card .informations-container .more-information .info-and-date-container {
  display: flex;
}
#cardClinica .booking-card .informations-container .more-information .info-and-date-container .box {
  flex: 1 0;
  padding: 15px;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: white;
  font-weight: bold;
  font-size: 0.9em;
}
#cardClinica .booking-card .informations-container .more-information .info-and-date-container .box .icon {
  margin-bottom: 5px;
}
#cardClinica .booking-card .informations-container .more-information .info-and-date-container .box.info {
  color: #ec992c;
  margin-right: 10px;
}
#cardClinica .booking-card .informations-container .more-information .disclaimer {
  margin-top: 20px;
  font-size: 0.8em;
  color: #7d7d7d;
}
#cardClinica .booking-card:hover::before {
  background: rgba(10, 72, 112, 0.6);
}
#cardClinica .booking-card:hover .book-container .content {
  opacity: 1;
  transform: translateY(0px);
}
#cardClinica .booking-card:hover .informations-container {
  transform: translateY(0px);
}
#cardClinica .booking-card:hover .informations-container .more-information {
  opacity: 1;
}

@media (max-width: 768px) {
  #cardClinica .booking-card::before {
    background: rgba(10, 72, 112, 0.6);
  }
  #cardClinica .booking-card .book-container .content {
    opacity: 1;
    transform: translateY(0px);
  }
  #cardClinica .booking-card .informations-container {
    transform: translateY(0px);
  }
  #cardClinica .booking-card .informations-container .more-information {
    opacity: 1;
  }
}

.iconClinica{
  width:24px;
  height:24px;
}

/*--------------------------- Crear una clinica -----------------------------*/

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #396cf0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #396cf0;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, 
  -webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
   background-image: linear-gradient(125deg,#a72879,#064497);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}


/*--------------------------- Footer -----------------------------*/
.footer-area {
  background: #11141b
}

.footer-area .footer-top {
  border-bottom: 1px solid #233148
}

.footer-area .footer-top .single-footer-caption .footer-logo {
  margin-bottom: 30px
}

.footer-area .footer-top .single-footer-caption .footer-pera .info1 {
  line-height: 1.8;
  margin-bottom: 35px;
  color: #bdbdbd
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      font-size: 14px
  }
}

@media (max-width: 575px) {
  .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      font-size: 14px
  }
}

.footer-area .footer-top .single-footer-caption .footer-number h4 {
  color: #3957ff;
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize
}

.footer-area .footer-top .single-footer-caption .footer-number h4 span {
  color: #fff
}

.footer-area .footer-top .single-footer-caption .footer-number p {
  color: #bdbdbd
}

.footer-area .footer-top .single-footer-caption .footer-tittle h4 {
  color: #fff;
  font-family: "Muli", sans-serif;
  font-size: 18px;
  margin-bottom: 38px;
  font-weight: 500;
  text-transform: uppercase
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li {
  color: #bdbdbd;
  margin-bottom: 15px;
  text-transform: capitalize
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
  color: #bdbdbd;
  font-weight: 300
}

.footer-area .footer-top .single-footer-caption .footer-tittle ul li a:hover {
  color: #fff;
  padding-left: 5px
}

.footer-area .footer-top .single-footer-caption .footer-form {
  margin-bottom: 30px
}

.footer-area .footer-top .single-footer-caption .footer-form form {
  position: relative
}

.footer-area .footer-top .single-footer-caption .footer-form form input {
  width: 100%;
  height: 43px;
  padding: 10px 20px;
  border: 0;
  background: #1c242f;
  color: #fff
}

.footer-area .footer-top .single-footer-caption .footer-form form input::placeholder {
  color: #9fa6bd;
  font-weight: 300;
  font-size: 14px
}

.footer-area .footer-top .single-footer-caption .footer-form form .form-icon button {
  position: absolute;
  top: 0px;
  right: 0;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 15px 22px;
  background: #0a0f17;
  line-height: 1;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  color: #3957ff
}

.footer-area .footer-top .single-footer-caption .info.error {
  color: #ff0000
}

.footer-area .footer-top .single-footer-caption .footer-cap {
  margin-bottom: 30px
}

.footer-area .footer-top .single-footer-caption .footer-cap span {
  color: #0f61ef;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  display: block
}

.footer-area .footer-top .single-footer-caption .footer-cap p {
  color: #bdbdbd;
  font-size: 16px
}

.footer-area .footer-bottom {
  padding-bottom: 50px;
  padding-top: 30px
}

.footer-area .footer-bottom .footer-copy-right p {
  color: #bdbdbd;
  font-weight: 300;
  font-size: 16px;
  line-height: 2;
  margin-bottom: 12px
}

.footer-area .footer-bottom .footer-copy-right p i {
  color: #3957ff
}

.footer-area .footer-bottom .footer-copy-right p a {
  color: #3957ff
}

.footer-area .footer-social span {
  color: #fff;
  position: relative;
  margin-right: 57px
}

.footer-area .footer-social span::before {
  position: absolute;
  content: "";
  width: 43px;
  height: 2px;
  background: #3b3647;
  top: 50%;
  transform: translateY(-50%);
  right: -56px
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-area .footer-social {
      float: left;
      padding-top: 10px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-area .footer-social {
      float: left;
      padding-top: 10px
  }
}

@media (max-width: 575px) {
  .footer-area .footer-social {
      float: left;
      padding-top: 10px
  }
}

.footer-area .footer-social a {
  color: #fff;
  font-size: 14px;
  padding-left: 25px
}

.footer-area .footer-social a i {
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  transform: rotateY(0deg)
}

.footer-area .footer-social a:hover {
  color: #fff
}

.footer-area .footer-social a:hover i {
  transform: rotateY(180deg)
}

.footer-padding {
  padding-top: 150px;
  padding-bottom: 50px
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-padding {
      padding-top: 150px;
      padding-bottom: 50px
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer-padding {
      padding-top: 100px;
      padding-bottom: 50px
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .footer-padding {
      padding-top: 80px;
      padding-bottom: 50px
  }
}

@media (max-width: 575px) {
  .footer-padding {
      padding-top: 80px;
      padding-bottom: 50px
  }
}